body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    background-color: black;
    color: rgb(234, 227, 201);
}
h1{
    text-align: center;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 22vh;
    padding: 5px;
    margin-bottom: 10px;
}@media only screen and (max-width: 600px){
    .banner video {
        width: 90%;
    }
}
.logo{
    max-height:20vh;
    width: 90%;
}
.menu{
    word-spacing: 10px;
}
.menu a{
    color: rgb(234, 227, 201);
    text-decoration: none;
}
/* CSS voor mobiel menu */
.mobile-menu {
    display: none; /* Verberg het mobiele menu standaard */
}

.menu-icon {
    color: rgb(234, 227, 201);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
}

.mobile-menu-content a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

/* CSS voor weergave van mobiel menu */
@media only screen and (max-width: 600px) {
    .menu {
        display: none; /* Verberg het gewone menu op kleine schermen */
    }
    .mobile-menu {
        display: block; /* Toon het mobiele menu voor kleine schermen */
    }

    .mobile-menu-content {
        display: none; /* Verberg het mobiele menu-inhoud standaard */
    }
}

.container {
    text-align: center; /* Centreer de inhoud van de container */
    font-family: "Tourney", sans-serif;
}
.videos {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat de video's naar de volgende regel gaan als er niet genoeg ruimte is */
    justify-content: center; /* Centreert de video's horizontaal */
}
.video {
    text-align: center;
    margin: 0 10px 20px; /* Ruimte tussen de video's */
    width: 250px; /* Breedte van elke video */
}
.video img {
    height: 250px;
    width: 250px;
    border-radius: 15%;
    margin: 0 auto;
    display: block;
}@media only screen and (max-width: 600px){
    .video img{
        height: 150px;
        width: 150px;
    }
}
.video-info {
    text-align: center; /* Centreert de tekst onder de afbeelding */
}
@media only screen and (max-width: 600px){
    .video{
        display: block;
    }
}
form {
    text-align: center;
    display: block;
}
.edge{
    border: 3px solid rgb(234, 227, 201);
}
