body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    background-color: black;
    color: rgb(234, 227, 201);
}
h1{
    text-align: center;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 22vh;
    padding: 5px;
    margin-bottom: 10px;
}@media only screen and (max-width: 600px){
    .banner video {
        width: 90%;
    }
}
.logo{
    max-height:20vh;
    width: 90%;
}
.menu{
    word-spacing: 10px;
}
.menu a{
    color: rgb(234, 227, 201);
    text-decoration: none;
}


.container {
    text-align: center; /* Centreer de inhoud van de container */
    font-family: "Tourney", sans-serif;
}
.videos {
    display: flex;
    flex-wrap: wrap; /* Zorgt ervoor dat de video's naar de volgende regel gaan als er niet genoeg ruimte is */
    justify-content: center; /* Centreert de video's horizontaal */
}
.video {
    text-align: center;
    margin: 0 10px 20px; /* Ruimte tussen de video's */
    width: 250px; /* Breedte van elke video */
}
.video img {
    height: 250px;
    width: 250px;
    border-radius: 15%;
    margin: 0 auto;
    display: block;
}@media only screen and (max-width: 600px){
    .video img{
        height: 150px;
        width: 150px;
    }
}
.video-info {
    text-align: center; /* Centreert de tekst onder de afbeelding */
}
@media only screen and (max-width: 600px){
    .video{
        display: block;
    }
}
form {
    text-align: center;
    display: block;
}
.edge{
    border: 3px solid rgb(234, 227, 201);
}
/* Style de dropdown-button */
.dropbtn {
    background-color: #333;
    color: rgb(234, 227, 201);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}

/* Style de dropdown-content (verborgen standaard) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
    top: 100%; /* Plaats het menu onder de knop */
    left: 0;
}

/* Style de links binnen de dropdown */
.dropdown-content a {
    color: rgb(234, 227, 201);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Wanneer je met de muis over een link in de dropdown gaat */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* Toon de dropdown-content (wanneer de gebruiker klikt op de dropdown-button) */
.show {
    display: block;
}

/* CSS voor weergave van mobiel menu */
@media only screen and (max-width: 600px) {
    .dropdown {
        display: block; /* Toon de dropdown op kleine schermen */
    }

    .menu {
        display: none; /* Verberg het normale menu op kleine schermen */
    }
    .dropbtn {
        display: inline-block; /* Toon de dropdown-button alleen op kleine schermen */
    }
}/* CSS voor weergave van normaal menu op grote schermen */
@media only screen and (min-width: 601px) {
    .menu {
        display: block; /* Toon het normale menu op grote schermen */
    }

    .dropdown {
        display: none; /* Verberg de dropdown op grote schermen */
    }
}
.socials{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
.socials img {
    width: 50px;
    height: 50px;
}

  
